@font-face {
  font-family: 'mdl-icons';
  src:
    local('MDL Icons'), local('MDL-Icons'), url('assets/fonts/mdl-icons/mdl-icons.woff') format('woff'),
    url('assets/fonts/mdl-icons/mdl-icons.svg#mdl-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.swk-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mdl-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdl-icon-wallet:before {
  content: "\e900";
}
.mdl-icon-settings:before {
  content: "\e901";
}
.mdl-icon-send:before {
  content: "\e902";
}
.mdl-icon-history:before {
  content: "\e903";
}
.mdl-icon-explorer:before {
  content: "\e904";
}

