@import '../../../../theme/_variables';

:host {
  display: inline-block;

  &:not([class*=last-child]) {
    margin-right: 5px;
  }
}

button {
  border-radius: 5px;
  box-shadow: none;

  &.primary {
    border: 1px solid $purple-pink;
  }

  &.secondary {
    background-color: $white;
    color: $purple;
    border: 1px solid $purple;
  }
}

button[disabled] {
  &.primary {
    background-color: $purple-pink;
    color: rgba($white, 0.5);
  }
}

mat-icon {
  margin-left: 10px;
  opacity: 0.3;
}

mat-spinner {
  display: inline-block;
  height: 24px !important;
  width: 24px !important;
  margin-left: 10px;
}
