<div class="container">
  <div class="-buttons">
    <div class="-button -low-opacity" routerLink="/wallets" routerLinkActive="no-opacity">
      <img src="../../../../../assets/img/wallet_1.svg">
      <span>Wallets</span>
    </div>
    <div class="-button -low-opacity" routerLink="/send" routerLinkActive="no-opacity">
      <img src="../../../../../assets/img/send_1.svg">
      <span>Send</span>
    </div>
    <div class="-button -low-opacity" routerLink="/transactions" routerLinkActive="no-opacity">
      <img src="../../../../../assets/img/history_1.svg">
      <span>History</span>
    </div>
    <div class="flex-fill"></div>
    <div class="-button" *ngIf="otcEnabled">
      <img src="../../../../../assets/img/wallet_2.svg">
      <span class="secondary-color">Get MDL</span>
    </div>
  </div>
</div>
