@import '../../../../../theme/variables';

:host {
  background-color: #fbfbfb;
  min-height: 66px;
}

.-buttons {
  display: flex;
  width: 100%;

  .-button {
    cursor: pointer;
    padding: 0 20px;

    img {
      display: inline-block;
      float: left;
      height: 60px;
      padding: 17px 0;
      width: 25px;
    }

    span {
      display: inline-block;
      font-size: 14px;
      height: 60px;
      line-height: 64px;
      margin: 0 8px;
    }
  }

  .-low-opacity {
    opacity: 0.2;
  }
}
