<div class="container">
  <nav mat-tab-nav-bar>
    <a mat-tab-link  class="low-opacity" routerLink="/wallets"  #rlaWallets="routerLinkActive" [active]="rlaWallets.isActive" routerLinkActive="no-opacity">
      <mat-icon fontSet="mdl" fontIcon="mdl-icon-wallet"></mat-icon>Wallet
    </a>
    <a mat-tab-link  class="low-opacity" routerLink="/send"  #rlaSend="routerLinkActive" [active]="rlaSend.isActive" routerLinkActive="no-opacity">
      <mat-icon fontSet="mdl" fontIcon="mdl-icon-send"></mat-icon>Send
    </a>
    <a mat-tab-link  class="low-opacity" routerLink="/history"  #rlaHistory="routerLinkActive" [active]="rlaHistory.isActive" routerLinkActive="no-opacity">
      <mat-icon fontSet="mdl" fontIcon="mdl-icon-history"></mat-icon>History
    </a>
    <a mat-tab-link  class="low-opacity" routerLink="/explore"  #rlaExplore="routerLinkActive" [active]="rlaExplore.isActive" routerLinkActive="no-opacity">
      <mat-icon fontSet="mdl" fontIcon="mdl-icon-explorer"></mat-icon>Explore
    </a>
  </nav>
</div>