@import '../../../../../theme/variables';

:host {
  background: $white;
  border-bottom: 1px solid $grey-silver;
  display: flex;
  margin-bottom: 32px;
}

.mat-tab-nav-bar {
    //padding-left: 28pt;
    border-bottom: none;

    .mat-tab-link:focus {
      background-color: transparent;
    }
  }

.mdl-icon {
  font-size: 24px;
  margin-right: 8px;
}

.mat-tab-link {
  color: $purple-dark;
  height: 67px;
  min-width: auto;
  padding: 0 22px;
  opacity: 0.5;
}
