@import '../../../../theme/_variables';

.-buttons {
  text-align: center;
}

.-paper {
  background-color: $white;
  border: 1px solid $grey-silver;
  border-radius: 5px;
  padding: 24px;
  margin-bottom: 32px;
}

.-transactions {
  h4 {
    margin: 0 0 12px;
  }
}