<div [formGroup]="form" class="-paper">
  <div class="form-field">
    <label for="wallet">Send from</label>
    <select formControlName="wallet" id="wallet">
      <option *ngFor="let wallet of walletService.all() | async" [disabled]="wallet.balance <= 0" [ngValue]="wallet">
        {{ wallet.label }} - {{ wallet.coins }} SKY
      </option>
    </select>
  </div>
  <div class="form-field">
    <label for="address">Send to</label>
    <input formControlName="address" id="address">
  </div>
  <div class="form-field">
    <label for="amount">Amount</label>
    <input formControlName="amount" id="amount">
  </div>
  <div class="form-field">
    <label for="notes">Notes</label>
    <textarea formControlName="notes" id="notes" row="2"></textarea>
  </div>
  <div class="button-line">
    <app-button #button (action)="send()" class="primary" [disabled]="!form.valid">
      Create
    </app-button>
  </div>
</div>

<!--Time, Status, Address, Amount, Transaction ID-->
<div class="-transactions">
  <h4>Recent transactions</h4>
  <ngx-datatable #table
                 class="material"
                 [rows]="records"
                 columnMode="flex"
                 [headerHeight]="50"
                 [footerHeight]="50"
                 [rowHeight]="50"
                 [limit]="10"
                 [scrollbarH]="true"
                 (activate)="onActivate($event)">
    <ngx-datatable-column name="Timestamp" prop="txn.timestamp" [flexGrow]="2">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <strong>{{ value | dateTime }}</strong>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Status" [flexGrow]="2">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <strong>{{ value.confirmed ? 'Confirmed' : 'Unconfirmed' }}</strong>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Address" [flexGrow]="4"></ngx-datatable-column>
    <ngx-datatable-column name="Amount" [flexGrow]="1"></ngx-datatable-column>
  </ngx-datatable>
</div>
