@import '../../../../../theme/variables';

:host {
  background-color: $purple;
  display: block;
}

mat-toolbar {
  background-color: transparent;
  height: 67px;
  color: $white;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.logo {
  height: 33px;
}

button {
  height: 50px;
  width: 50px;

  .mdl-icon-settings {
    font-size: 30px;
  }
}
