<app-header></app-header>
<div class="-background-container">
  <div class="container">
    <div [formGroup]="form" class="-paper" *ngIf="config">
      <div class="-available flex-fill">
        <h2>{{ 'buy.available-now' | translate }} {{ available  | number:'1.0-6' }} MDL</h2>
        <app-button #refresh (action)="refreshConfig()">{{ 'buy.refresh' | translate }}</app-button>
      </div>
      <div class="-step">
        <div class="-number">
          <span class="primary-gradient-background">1</span>
        </div>
        <div class="-instructions flex-fill">
          <h3>{{ 'buy.deposit-location' | translate }}</h3>
          <p>{{ 'buy.deposit-location-desc' | translate }}</p>
          <div class="form-field">
            <select formControlName="wallet" id="wallet" class="-wallet" required>
              <option disabled selected>{{ 'buy.make-choice' | translate }}</option>
            <option *ngFor="let wallet of wallets" [value]="wallet.filename">
            {{ wallet.label }} - <span class="-coins">{{ wallet.coins }} MDL</span>
            </option>
            </select>
          </div>
          <p>{{ 'buy.choose-preference' | translate }}</p>
          <div class="form-field">
            <select formControlName="coin_type" id="coin_type" class="-coin_type" required>
              <option value="" selected>{{ 'buy.choose' | translate }}</option>
              <option *ngFor="let method of supported" [value]="method.name" [disabled]="!method.enabled">
              {{method.label}} (1 {{method.name}} = {{method.exchange_rate}} MDL)
              </option>
            </select>
          </div>
          <span class="-subtitle">{{ 'buy.wallets-desc' | translate }}</span>
        </div>
      </div>
      <div class="-step" *ngIf="order && form.value.coin_type != ''">
        <div class="-number">
          <span class="primary-gradient-background">2</span>
        </div>
        <div class="-instructions flex-fill">
          <h3>{{ 'buy.send-coin' | translate }} {{form.value.coin_type}}</h3>
          <p>
          {{ 'buy.send-coin' | translate }} {{form.value.coin_type}} {{ 'buy.send-coin-text-1' | translate }} <span>{{ currentCoinPrice() }} MDL = 1 {{form.value.coin_type}}</span>.
          </p>
          <span class="-address">
          {{ order.deposit_address }}
          </span>
          <span class="-subtitle">{{ 'buy.fraction-warning' | translate }}</span>
        </div>
      </div>
      <div class="-step" *ngIf="order">
        <div class="-number">
          <span class="primary-gradient-background">3</span>
        </div>
        <div class="-instructions flex-fill">
          <h3>{{ 'buy.receive' | translate }}</h3>
          <p>{{ 'buy.receive-desc' | translate }}</p>
          <span class="-status">
            {{ 'buy.status-button' | translate }} {{ order.status | tellerStatus | translate }}
          </span>
          <app-button #button (action)="checkStatus()" class="primary">
            {{ 'buy.check-status-button' | translate }}
          </app-button>
          <app-button #button (action)="removeOrder()">
            {{ 'buy.new-order-button' | translate }}
          </app-button>
        </div>
      </div>
    </div>
    <img src="../../../../assets/img/mdltoken.png" class="-background-image">
  </div>
</div>
