<app-header></app-header>
<div class="-background-container">
  <div class="container">
    <div [formGroup]="form" class="-paper" *ngIf="config">
      <div class="-step">
        <div class="-number">
          <span class="primary-gradient-background">1</span>
        </div>
        <div class="-instructions flex-fill">
          <h3>Choose your MDL wallet</h3>
          <p>This is your MDL wallet where you will receive your MDL tokens, after the transaction is confirmed.</p>
          <div class="form-field">
            <select formControlName="wallet" id="wallet" class="-wallet" required>
              <option disabled selected>Make a choice</option>
              <option *ngFor="let wallet of wallets" [value]="wallet.filename">
                {{ wallet.label }} - <span class="-coins">{{ wallet.coins }} MDL</span>
              </option>
            </select>
          </div>
          <p>Choose preferable payment method. Plese be aware that some methods can be temporarily disabled.</p>
          <div class="form-field">
            <select formControlName="coin_type" id="coin_type" class="-coin_type" required>
              <option value="" selected>Please choose your favourite crypto ;)</option>
              <option *ngFor="let method of supported" [value]="method.value" [disabled]="method.disabled">
              {{method.label}}
              </option>
              <!-- <option value="BTC" ng-disabled="!supported.includes('BTC')">{{!supported.includes('BTC')}} Bitcoin (Under Mainteinance)  </option>
              <option value="ETH" ng-disabled="!supported.includes('ETH')">Ethereum</option>
              <option value="SKY" ng-disabled="!supported.includes('SKY')">Skycoin (Temporary Disabled)</option>
              <option value="WAVES" ng-disabled="!supported.includes('WAVES')">WAVES (Temporary Disabled)</option>
              <option value="MDL.life" ng-disabled="!supported.includes('MDL.life')">MDL.life (pre-MDL token on Waves, coming later...)</option>
-->
            </select>
          </div>
          <span class="-subtitle">
          Each time a new MDL address is selected, a new {{ form.value.coin_type }} address is generated. A single MDL address can
          have up to 2 {{form.value.coin_type}} addresses assigned to it.
        </span>
        </div>
      </div>
      <div class="-step" *ngIf="order && form.value.coin_type">
        <div class="-number">
          <span class="primary-gradient-background">2</span>
        </div>
        <div class="-instructions flex-fill">
          <h3>Send {{form.value.coin_type}}</h3>
          <p>
            Send {{form.value.coin_type}} to the address below. After enough confirmations on the blockchain, you will receive MDL tokens to the wallet
            selected above at the current rate of <span>{{ form.value.coin_type === 'ETH' ? config.mdl_eth_exchange_rate : config.mdl_btc_exchange_rate }} MDL = 1 {{form.value.coin_type}}</span>.
          </p>
          <span class="-address">
          {{ order.deposit_address }}
          </span>
        </div>
      </div>
      <div class="-step" *ngIf="order">
        <div class="-number">
          <span class="primary-gradient-background">3</span>
        </div>
        <div class="-instructions flex-fill">
          <h3>Receive MDL</h3>
          <p>
            After sending your deposit, you'll receive your MDL tokens. It may take anywhere between 30 minutes and an hour
            to receive your MDL, it depends on the crypto you've choosen as well as business of its blockchain. If something went wrong, please contact us at support@mdl.life.
          </p>
          <span class="-status">
            Status: {{ order.status | tellerStatus }}
          </span>
          <app-button #button (action)="checkStatus()" class="primary">
            Check Status
          </app-button>
          <app-button #button (action)="removeOrder()">
            New Order
          </app-button>
        </div>
      </div>
    </div>
    <img src="../../../../assets/img/mdltoken.png" class="-background-image">
  </div>
</div>
