@import '../theme/_variables';
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

$mat-mdl-primary: (
        100: #00C3FF,
        500: $purple,
        contrast: (
                100: white,
                500: white,
        )
);

$mat-mdl-accent: (
        500: #FFC125,
        contrast: (
                500: white
        )
);

$candy-app-primary: mat-palette($mat-mdl-primary, 500, 100, 500);
$candy-app-accent: mat-palette($mat-mdl-accent, 500, 500, 500);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$mdl-typography: mat-typography-config(
        $font-family: "'Open Sans', sans-serif",
        $headline: mat-typography-level(32px, 48px, 700),
        $body-1: mat-typography-level(16px, 24px, 500)
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($mdl-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($mdl-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($mdl-typography);

// Override the typography in the core CSS.
@include mat-core($mdl-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
